<div class="d-flex flex-column min-vh-100">
    <header class="bg-white py-3 shadow-sm border-top border-dark border-4">
        <div class="container d-flex justify-content-center justify-content-md-start">
            <a class="navbar-brand fs-4 text-decoration-none" routerLink="/">
                <span class="text-dark fw-bold">Escuela ProA</span><span class="text-info fw-bold"> Sede Capital
                    Norte</span>
            </a>
        </div>
    </header>

    <section class="container flex-grow-1 d-flex justify-content-center align-items-center my-5">
        <div class="card p-4 shadow-sm text-center border-0"
            style="max-width: 450px; width: 100%; border-radius: 12px; background: #ffffff;">

            <h2 class="fw-bold text-secondary mb-3">Recuperar Clave</h2>
            <p class="text-muted small mb-4">Ingresa tu correo electrónico y te enviaremos las instrucciones para
                restablecer tu contraseña.</p>

            <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                <div class="mb-4 text-start">
                    <label for="recoveryEmail" class="form-label fw-medium text-muted">Cargar mail:</label>
                    <input type="email" formControlName="email" class="form-control form-control-lg"
                        placeholder="ejemplo@correo.com">

                    @if (recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched) {
                    <small class="text-danger mt-1">Por favor, ingresá un correo válido.</small>
                    }
                </div>

                @if (showSuccessMessage) {
                <div class="alert alert-success py-2 text-start" role="alert">
                    Se envió el mail de recupero de clave.
                </div>
                }

                <button type="submit" class="btn btn-primary btn-lg w-100 fw-bold mt-2 shadow-sm">
                    Recuperar Clave
                </button>
            </form>

            <div class="mt-4 pt-3 border-top border-light-subtle">
                <p class="small mb-0">
                    ¿Te acordaste de tu contraseña?
                    <a routerLink="/login" class="text-decoration-none text-primary fw-semibold">Iniciar Sesión</a>
                </p>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p class="mb-0">&copy; 2026 Syntax Hub - Córdoba, Argentina. Hecho por Syntax Error.</p>
    </footer>
</div>